<div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-6/12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
        >
          <div class="rounded-t mb-0 px-6 py-6">
            <div class="text-center mb-3">
              <h6 class="text-blueGray-500 text-sm font-bold">Creer un Nouveau Article</h6>
            </div>
            <div class="btn-wrapper text-center">
              
              
            </div>
            <hr class="mt-6 border-b-1 border-blueGray-300" />
          </div>
          <div class="flex-auto px-4 lg:px-10 py-10 pt-0">

              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Article
                </label>
                <input
                  type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Name"
                  [(ngModel)]="article.article"
                />
              </div>
  
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Gamme
                </label>
                <mat-form-field appearance="fill">
                  <mat-select [(value)]="gamme">
                    <mat-option *ngFor="let gamme of gammes" value="gamme.gamme">{{gamme.gamme}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
  
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Couleur
                </label>
                <mat-form-field appearance="fill">
                  <mat-select [(value)]="couleur">
                    <mat-option *ngFor="let couleur of couleurs" value="couleur.couleur">{{couleur.couleur}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->

              </div>
              <div>
                <label class="inline-flex items-center cursor-pointer">
                  <input
                    id="customCheckLogin"
                    [(ngModel)]="auto"
                    type="checkbox"
                    class="form-checkbox border-0 text-blueGray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded"
                  />
                  <span class="ml-2 text-sm font-semibold text-blueGray-600">
                    Automatique?
                    
                  </span>
                </label>
              </div>
  <br>
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Besoin
                </label>
                <button type='button'  mat-raised-button (click)="openDialog()">Ajouter </button>
                &nbsp;

                &nbsp;

                <button type='button'  mat-raised-button (click)="deleteBesoin()">Supprimer</button>
                
                <ul>
                  <li *ngFor="let besoin of besoins">
                    {{besoin.mp.mp}} :  {{besoin.quantite}}

                  </li>
                </ul>
              </div>

             
              <div class="text-center mt-6">
                <button
                (click)="saveArticleController()"
                  class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                  type="button"
                >
                  Valider
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  