
                MP:
                <mat-form-field appearance="fill">
                    <mat-select [(value)]="selectedMP" (selectionChange)="doSomething()">
                      <mat-option *ngFor="let mp of mps" value="{{mp.mp}}">{{mp.mp}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                    >
                      Quantite
                    </label>
                    <input
                    [(ngModel)]="quantite"
                      type="number"
                      class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                      placeholder="quantite"
                    />   
              <div class="text-center mt-6">
                <button
                  class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                  type="button"
                  (click)="closeDiag()"
                >
                  Valider
                </button>
              </div>
     